<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        var previous = null;
        var current = null;
        setInterval(function() {
            $.getJSON("./score.json", function(json) {
                current = JSON.stringify(json);
                console.log("current: "+current);
                if (previous && current && previous !== current) {
                    console.log('refresh');
                    location.reload();
                } else {
                    console.log('no refresh');
                }
                previous = current;
            });}, 500);

    </script>
</head>
<body>
<h5>IIDX Score Card Real Time Version</h5>
<div class="row">
    <div class="col-md">
        <h1 style="margin-bottom: -1%"><%= fervidex.song.title %></h1>
        <h2><%= fervidex.song.artist %></h2>
        <%
        if(fervidex.chart.difficulty === "ANOTHER") {
        %>
            <h3 style="color:red;">Another <%= fervidex.chart.level %></h3>
        <%
        }
        %>
    </div>

    <div class="col-md" id="score">
        <% if(fervidex.score.clear >= 2) {
            let clear = fervidex.score.clear
            let clearType = "";
            if (clear === 2) { //clear goes up to 7
                clearType = "Assist "
            } else if (clear === 3) {
                clearType = "Easy "
            } else if (clear === 5) {
                clearType = "Hard "
            } else if (clear === 6) {
                clearType = "Extra Hard "
            } else if (clear === 7) {
                clearType = "Full Combo "
            }
        %>
        <h3><%= clearType %>Clear!</h3>
        <% } %>
        <h4>EX Score: <%= fervidex.score.score %></h4>
        <div class="row">
            <div class="col-md">
                <h5>Combo</h5>
                <h5><%= fervidex.score.combo %></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md" style="border: 1px; border-style: solid; border-radius: 5px; margin-right:1px;">
            <h5>Timing Infomation</h5>
            <h5>PGreat: <%= fervidex.score.judge.pgreat %></h5>
            <h5>Great: <%= fervidex.score.judge.great %></h5>
            <h5>Good: <%= fervidex.score.judge.good %></h5>
            <h5>Bad: <%= fervidex.score.judge.bad %></h5>
            <h5>Poor: <%= fervidex.score.judge.poor %></h5>
            <div>
                <h5 style="color:blue;">Fast: <%= fervidex.score.judge.fast %></h5>
                <h5 style="color:red;">Slow: <%= fervidex.score.judge.slow %></h5>
            </div>
        </div>
    <div class="col-md" style="border:1px; border-style:solid; border-radius:5px; margin-left:1px;">
        <h5>Pace Maker</h5>
        <canvas id="myChart" width="400" height="200"></canvas>
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["player", 'PaceMaker'],
                    datasets: [{
                        label: 'EX Score',
                        data: [<%= fervidex.score.score%>, <%= fervidex.score.pacemaker.score %>],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1,
                        minBarLength: 2
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                                suggestedMax: <%= fervidex.chart.data.notecount * 2%>,
                                // OR //
                                beginAtZero: true   // minimum value will be 0.
                            }
                        }]
                    }
                }            });
        </script>
    </div>
    </div>
</div>
</body>
</html>
